# English image: https://hub.docker.com/r/aapanel/aapanel
# Chinese image: https://hub.docker.com/r/btpanel/btpanel

version: "3.8"

services:
  btpanel:
    image: $APP_REPO:$APP_VERSION
    container_name: ${APP_NAME}
    restart: always
    ports:
      - "${APP_FTP_PORT}:21"
      - "${APP_SSH_PORT}:22"
      - "${APP_PORT}:8888"
      - "${APP_PHPMYADMIN_PORT}:888"
    environment:
      - BAOTA_USER=$APP_USER
      - BAOTA_PASSWORD=$APP_PASSWORD
    volumes:
      - www:/www
    command: bash -c "cat /my_cmd > cmd.sh && chmod +x /cmd.sh && /cmd.sh"
    configs:
      - source: my_cmd

networks:
  default:
    name: ${APP_NETWORK}
    external: true

volumes:
  www:

configs:
  my_cmd:
    file: ./cmd.sh
